<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.sensation" version="1.15.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>کاتالوگ نمایشگاهی</name>

    <description>
    یک کاتالوگ خوب و عالی
    </description>
    
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    
    <preference name="BackupWebStorage" value="none" />

    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
	
	<gap:platform name="android">
        <allow-intent href="market:*" />
        <access origin="*" />
    </gap:platform>
    
	<gap:platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <access origin="*" />
    </gap:platform>
	
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />

	
    
</widget>
